      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #333;
      }
      
      header {
        background-color: black;
        color: #fff;
        padding: 20px;
        text-align: center;
      }

      .azer {
        padding-right: 600px;
      }

      .img {
        padding-right: 400px;
      }

      h3 {
        color: white;
      }


      .links {
        color: blueviolet;
      }

      h2 {
        color: white;
      }

      p {
        color: white;
      }

      h1 {
        margin: 0;
      }
      
      main {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
      }
    
      
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      
      li {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
      }
      
      img {
        max-width: 100%;
        margin-right: 20px;
      }
      
      a {
        color: #333;
        text-decoration: none;
      }
      
      a:hover {
        text-decoration: underline;
      }
      
      .pdsc1 {
        padding-left: 15px;
      }

      .pdsc2 {
        padding-right: 15px;
      }

      .server-link {
        display: flex;
        justify-content: space-between;
      }
    
      
      @media screen and (max-width: 600px) {
        header {
          padding: 10px;
        }
        
        main {
          padding: 10px;
        }
        
        li {
          flex-direction: column;
        }
        
        .server-link {
          flex-direction: column;
        }
        
        .server-link img {
          margin-bottom: 10px;
          order: 1;
        }
      }